.form-manage {
    margin-top : 20px;
    height     : 100%;
    width      : 80%;
    margin-left: 50%;
    transform  : translateX(-50%);

    table {
        width      : 60%;
        margin-left: 50%;
        transform  : translateX(-50%);

        .tr-head {
            td {
                border : 1px solid #000;
                padding: 10px;
            }
        }


        tbody {
            tr {

                td {
                    border : 1px solid #ccc;
                    padding: 10px;
                }

                .form-action {
                    display        : flex;
                    justify-content: space-around;
                    align-items    : center;

                    .btn-delete {
                        width           : 30%;
                        padding         : 8px 10px;
                        border          : none;
                        border-radius   : 10px;
                        background-color: red;
                        color           : #fff;
                    }

                    .btn-edit {
                        width           : 30%;
                        padding         : 8px 10px;
                        border          : none;
                        border-radius   : 10px;
                        background-color: orange;
                        color           : #fff;
                    }
                }
            }
        }
    }
}