.form-create-stand {

    .form-input {

        &:first-child {
            margin-top: 20px;
        }

        label {
            font-size    : 16px;
            font-weight  : 500;
            margin-bottom: 10px;
        }

        input,
        select {
            padding      : 8px 10px;
            width        : 100%;
            border       : 1px solid #ccc;
            border-radius: 10px;
            box-shadow   : var(--box-shadow-div);
        }
    }
}