.form-rating {
    width : 100%;
    height: 100%;

    .control-rating {
        margin-top        : 80px;
        width             : 100%;
        display           : flex;
        justify-content   : space-around;
        align-items       : center;
        // position       : absolute;
        // z-index        : 2;

        p {
            font-size  : 30px;
            font-weight: 500;
            color      : #fff;
        }

        .button-swap {
            width: 20%;

            button {
                border          : none;
                border-radius   : 5px;
                padding         : 10px 20px;
                color           : #fff;
                font-size       : 20px;
                background-color: var(--color-button-primary);
            }
        }
    }

    .form-content {
        width        : 100%;
        // position  : absolute;
        // z-index   : 2;
        // margin-top: 130px;
    }
}