.form-modal-ticket {
    width: 100%;

    button {
        width           : 100% !important;
        background-color: green !important;
        margin          : 0 !important;
    }

}

.modal-ticket {

    .test {
        width     : 100px;
        height    : 200px;
        background: #ccc;
    }
}