@import "bootstrap/dist/css/bootstrap.css";
@import 'bootstrap-icons/font/bootstrap-icons';

* {
    box-sizing     : border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --color-button-primary:rgb(51, 144, 236);
}