.form-manage {
    margin-top         : 50px;
    width              : 80%;
    margin-left        : 50%;
    transform          : translateX(-50%);
    margin-bottom      : 50px;
    // height          : 200px;
    // overflow     : hidden;
    position           : relative;

    .form-table {
        width              : 100%;
        max-height         : 500px;
        overflow           : hidden;
        overflow-y         : auto;
        // border-radius   : 10px;
        // overflow     : hidden;

        table {
            width    : 100%;
            // border: 1px solid #000;

            thead {

                tr {
                    th {
                        text-align  : center;
                        font-size   : 20px;
                        font-weight : 500;
                        border      : 1px solid #000;
                        height      : 70px;
                        padding-left: 10px;

                    }

                    .col-index {
                        width: 10%;
                    }

                    .col-season {
                        width: 20%;
                    }

                    .col-des {
                        width: 40%;
                    }

                    .col-active {}
                }
            }

            tbody {
                tr {
                    td {
                        text-align: center;
                        border    : 1px solid #ccc;
                        height    : 100px;

                        .form-active {
                            display        : flex;
                            justify-content: center;
                            align-items    : center;

                            button {
                                width        : 30%;
                                padding      : 10px 20px;
                                margin       : 0 10px;
                                border       : none;
                                border-radius: 10px;
                                color        : #fff;

                                &:hover {
                                    opacity: 0.5;
                                }
                            }

                            .button-edit {
                                background-color: orange;
                            }

                            .button-delete {
                                background-color: red;
                            }
                        }
                    }
                }
            }
        }
    }


    .form-pagination {
        margin-top: 30px;
        text-align: center;
    }
}