.sibar {
    margin-left     : 2px;
    width           : 100%;
    height          : 100%;
    overflow        : auto;
    background-color: #f4f4f4;

    &::-webkit-scrollbar {
        display: none;
    }

    .control-auth {
        height : 70px;
        padding: 10px;

        .avatar {
            width           : 50px;
            height          : 50px;
            border-radius   : 100%;
            background-color: #ccc;
            margin-left     : 50%;
            transform       : translateX(-50%);
        }
    }


    .form-item {
        padding: 10px;
        width  : 100%;

        &:hover {
            cursor          : pointer;
            background-color: #fff;

            .icon-item {
                i {
                    color: blue;
                }
            }
        }

        p {
            margin    : 0px;
            text-align: center;
        }

        .icon-item {
            i {
                font-size: 20px;
            }
        }

        .header-item {
            font-size: 12px;
            opacity  : 0.8;
        }
    }
}

.active {
    color       : blue;
    border-left : 3px solid blue;
    padding-left: 8px !important;
}

.tooltip-text {

    p {
        color : #fff;
        margin: 20px;
    }
}

.form-auth {
    width           : 100px;
    height          : 80px;
    background-color: #fff;
    box-shadow      : var(--box-shadow-div);

    .form-item {
        height: 50%;


        :hover {
            cursor          : pointer;
            background-color: #ccc;
        }

        &:first-child {
            border-bottom: 1px solid #ccc;
        }



        p {
            color      : #000;
            line-height: 40px;

            i {
                margin: 10px;
            }

        }
    }
}