.form-statistical {

    position: relative;

    h4 {
        text-align: center;
    }

    .form-search {
        width          : 100%;
        margin-top     : 10px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        .input-search {
            width: 80%;

            input {
                width        : 100%;
                padding      : 10px 15px;
                border       : none;
                border-radius: 10px;
                box-shadow   : rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }

        .icon-search {
            width          : 40px;
            height         : 40px;
            margin-left    : 10px;
            padding        : 10px;
            border-radius  : 100%;
            box-shadow     : rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display        : flex;
            align-items    : center;
            justify-content: center;


            i {
                color    : green;
                font-size: 20px;
            }
        }
    }

    .form-items {
        max-height      : 200px;
        overflow-y      : auto;
        width           : 80%;
        margin-left     : 40%;
        transform       : translateX(-40%);
        border-radius   : 10px;
        box-shadow      : rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position        : absolute;
        z-index         : 5;
        background-color: #eee;

        &::-webkit-scrollbar {
            display: none;
        }

        .item {
            padding      : 10px;
            border-bottom: 1px solid #ccc;
        }
    }

    .form-content {
        margin-top: 50px;
    }
}