.form-main {
    width  : 100%;
    height : 100vh;
    display: flex;

    .sibar {
        width: 5%;
    }

    .form-content {
        width           : 95%;
        height          : 100%;
        margin-bottom   : 50px;
        padding-left    : 40px;
        overflow        : auto;
        box-shadow      : var(--box-shadow-div);
        background-color: #fff;


        &::-webkit-scrollbar {
            display: none;
        }


        &::-webkit-scrollbar-horizontal {
            display: none;
        }

        .control-content {
            padding-top     : 20px;
            width           : 100%;
            height          : 60px;
            background-color: #fff;
            position        : fixed;
            top             : 0;
            right           : 0;
            left            : 5%;
            z-index         : 100;
            overflow        : hidden;
        }

        .detail-content {
            margin-top: 50px;
            padding   : 20px 0;
            width     : 100%;
            height    : 100%;

        }
    }
}